@import "tailwindcss";


.box1,
.box2,
.box3 {
  animation: floatMove 4s ease-in-out infinite;
}

/* একটু delay দিলে সুন্দর দেখাবে */
.box2 {
  animation-delay: 0.5s;
}

.box3 {
  animation-delay: 1s;
}

@keyframes floatMove {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(20px, -20px);
  }
  50% {
    transform: translate(0, -30px);
  }
  75% {
    transform: translate(-20px, -20px);
  }
  100% {
    transform: translate(0, 0);
  }
}
